---
---
@import "{{ site.theme }}";
header {
  background: #bbcebb;
  border-bottom: solid 1px #8dad8d;
}
header h1 {
  color: #111111ee;
}

header h2 {
  color: #d0fbfd;
}
header a.button {
  color: #b1f1f5;
  background: #111111ee url(../images/github-button.png) 0 0 no-repeat;
}
header a.button:hover a.button:active {
  color: #111111ee;
}