---
---
@import "{{ site.theme }}";
header {
  background: #bbcebb;
  border-bottom: solid 1px #8dad8d;
}
header h1 {
  color: #111111ee;
}

header h2 {
  color: #d0fbfd;
}
header a.button {
  color: #111111ee;
  background-color: #bbcebb;  
  padding-top: 22px;
  padding-left: 68px;
  line-height: 1.75;  
}
header a.button:hover {
  color: #d0fbfd;
}

.nobullets {
  list-style-type: none;
}

a.button {
  background-color: #bbcebb;
  display: block;
  padding-left: 54px;
  border-radius: 11px;
  font-size: 22px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

a.button:hover {
  color: #d0fbfd;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

aside a.button {
  background: none;
  background-color: #bbcebb;
  border: solid 1px #8dad8d;
}
aside a.button::before {
  content: "->";
}
a.button small {
  display: block;
  font-size: 11px;
}

input {
  background-color: #bbcebb;
  border: solid 1px #8dad8d;
  display: block;
  border-radius: 5px;
  font-size: 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  outline: 0px !important;
}

input:active input:focus input:enabled{
  color: #d0fbfd;
  border: 1px solid #000000;
}
input:hover {
  color: #d0fbfd;
  border: 1px solid #8dad8d;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
input::placeholder {
  color: #000000;
}


a {
  color: #8dad8d;
}
a:hover {
  color: #111111ee;
}
.active {
  color: #d0fbfd !important;
}
